

<section id="collection-set">
  <div class="container">

    <div class="collection-set mb-2 py-4">

      <h2 class="mb-4">Собрать комплект <a href="javascript:void(0);">Halston</a></h2>

      <div class="row">
        <div class="col-lg-4 col-xl-3 d-none d-lg-block">
          <div class="products-selected p-3">
            <div class="products-selected__main mb-2">
              <div class="products-selected__item mb-2 d-flex align-items-center">
                <div class="products-selected__item-pic mr-2">
                  <img src="../img/products/halston-divan-dvuxmestnyj-st-bej-anfas-300x300.jpg" alt="">
                </div>
                <div class="products-selected__item-info">
                  <h5 class="products-selected__item-name mb-0">Диван halston st двухместный</h5>
                  <h5 class="products-selected__item-price font-weight-bold mb-0"><span class="mr-1">12 900</span>&#8381;</h5>
                </div>
              </div>
            </div>
            <div class="products-selected__colors mb-3">
              <h4>Цветовые решения</h4>
              <div class="products-selected__colors-content d-flex">
                <div class="products-selected__colors-item products-selected__colors-item--active mr-2"><img src="../img/products/48.jpg" alt=""></div>
                <div class="products-selected__colors-item mr-2"><img src="../img/products/022.jpg" alt=""></div>
                <div class="products-selected__colors-item mr-2"><img src="../img/products/51.jpg" alt=""></div>
                <div class="products-selected__colors-item mr-2"><img src="../img/products/74.jpg" alt=""></div>
                <div class="products-selected__colors-item mr-2"><img src="../img/products/704.jpg" alt=""></div>
                <div class="products-selected__colors-item mr-2"><img src="../img/products/711.jpg" alt=""></div>
              </div>
            </div>
            <div class="products-selected__content pt-3 pb-2 mb-3">
              <div class="products-selected__content-clean text-right">
                <button class="btn-close"></button>
              </div>
              <div class="products-selected__item mb-2 d-flex align-items-center">
                <div class="products-selected__item-pic mr-2">
                  <div class="products-selected__item-delete"><span><i class="mo-plus"></i></span></div>
                  <img src="../img/products/halston_kreslo_st_enzo_701_1-300x300.jpg" alt="">
                </div>
                <div class="products-selected__item-info">
                  <h5 class="products-selected__item-name mb-0">Кресло Halston ST</h5>
                  <h5 class="products-selected__item-price font-weight-bold mb-0"><span class="mr-1">12 900</span>&#8381;</h5>
                </div>
              </div>
              <div class="products-selected__item mb-2 d-flex align-items-center">
                <div class="products-selected__item-pic mr-2">
                  <div class="products-selected__item-delete"><span><i class="mo-plus"></i></span></div>
                  <img src="../img/products/halston-divan-uglovoj-bej-s-boky-300x300.jpg" alt="">
                </div>
                <div class="products-selected__item-info">
                  <h5 class="products-selected__item-name mb-0">Диван Halston ST трехместный</h5>
                  <h5 class="products-selected__item-price font-weight-bold mb-0"><span class="mr-1">12 400</span>&#8381;</h5>
                </div>
              </div>
            </div>
            <!-- /products-selected__content -->
            <div class="products-selected__buy">
              <p class="products-selected__buy-text text-center">Итого 3 товара</p>
              <h2 class="products-selected__buy-price font-weight-bold text-center"><span class="mr-1">33 800</span>&#8381;</h2>
              <button class="btn btn-cyan w-100" type="button" name="button">Купить</button>
            </div>
            <!-- /products-selected__buy -->
          </div>
          <!-- /products-selected -->
        </div>
        <!-- /col -->


        <div class="col-xs-12 col-lg-5 col-xl-9">
          <div class="collection-set__products">

            <div class="collection-set__products-top mb-4">
              <div class="product-mini-row d-flex flex-wrap">
                  <div class="product-mini product-mini-collection product-mini--active">
                    <div class="product-mini__check">
                      <i class="mo-check display-8"></i>
                    </div>
                    <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                      <img src="../img/products/halston_kreslo_st_enzo_701_1-300x300.jpg" alt="">
                    </div>
                    <p class="product-mini__name">Кресло Halston ST бежевое</p>
                    <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                  </div>
                  <div class="product-mini product-mini-collection">
                    <div class="product-mini__check">
                      <i class="mo-check display-8"></i>
                    </div>
                    <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                      <img src="../img/products/halston-divan-trexmestnyj-bej-anfas-300x300.jpg" alt="">
                    </div>
                    <p class="product-mini__name">Диван Halston ST трехместный бежевый</p>
                    <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                  </div>
                  <div class="product-mini product-mini-collection product-mini--active">
                    <div class="product-mini__check">
                      <i class="mo-check display-8"></i>
                    </div>
                    <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                      <img src="../img/products/halston-divan-uglovoj-bej-s-boky-300x300.jpg" alt="">
                    </div>
                    <p class="product-mini__name">Диван Halston ST трехместный бежевый</p>
                    <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                  </div>
                </div>
                <!-- /product-mini-row -->
              </div>
              <!-- /collection-set__products-top -->

            <div class="accordion mb-3" id="accordionExample">

              <div class="accordion-item mb-3">
                <div class="accordion-item__caption d-flex justify-content-between mb-2" data-toggle="collapse" data-target="#collapseOne11" aria-expanded="true" aria-controls="collapseOne">
                  <p class="font-weight-bold">Кресло</p>
                  <i class="mo-arrow-down"></i>
                </div>
                <div id="collapseOne11" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="accordion-item__slider product-mini-row d-flex flex-wrap">

                    <div class="product-mini product-mini-collection product-mini--active">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_701_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST бежевое</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_716_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST темно-синее</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_701_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST бежевое</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_706_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST коричневое</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_711_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST сиреневое</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston_kreslo_st_enzo_715_1-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Кресло Halston ST желтое</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                  </div>
                </div>
              </div>

              <div class="accordion-item mb-3">
                <div class="accordion-item__caption d-flex justify-content-between mb-2" data-toggle="collapse" data-target="#collapseOne12" aria-expanded="true" aria-controls="collapseOne">
                  <p class="font-weight-bold">Диван трехместный</p>
                  <i class="mo-arrow-down"></i>
                </div>
                <div id="collapseOne12" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="accordion-item__slider product-mini-row d-flex flex-wrap">

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-bej-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный бежевый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-korich-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный коричневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-sir-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный сиреневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-t-kor-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный темно-коричневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-yel-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный желтый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-trexmestnyj-sin-anfas-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный синий</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                  </div>
                </div>
              </div>

              <div class="accordion-item mb-3">
                <div class="accordion-item__caption d-flex justify-content-between mb-2" data-toggle="collapse" data-target="#collapseOne13" aria-expanded="true" aria-controls="collapseOne">
                  <p class="font-weight-bold">Диван угловой трехместный</p>
                  <i class="mo-arrow-down"></i>
                </div>
                <div id="collapseOne13" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="accordion-item__slider product-mini-row d-flex flex-wrap">

                    <div class="product-mini product-mini-collection product-mini--active">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-bej-s-boky-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный бежевый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-kor-s-boky-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный коричневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-sir-s-boky-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный сиреневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-t-kor-s-boky-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный темно-коричневый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-yel-s-boky-300x300.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный желтый</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                    <div class="product-mini product-mini-collection">
                      <div class="product-mini__check">
                        <i class="mo-check display-8"></i>
                      </div>
                      <div class="product-mini__pic mb-1 d-flex justify-content-between align-items-center">
                        <img src="../img/products/halston-divan-uglovoj-yel-s-boky-765x765.jpg" alt="">
                      </div>
                      <p class="product-mini__name">Диван Halston ST трехместный синий</p>
                      <p class="product-mini__price font-weight-bold"><span class="mr-1">6 400</span> <span>&#8381;</span></p>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <!-- /accordion -->

            <div class="collection-set__products-price mb-1 pt-1 d-block d-lg-none">
              <p class="text-center">Итого 3 товара</p>
              <h2 class="font-weight-bold mb-0 text-center"><span class="mr-2">12 900</span><span>&#8381;</span></h2>
            </div>
            <div class="collection-set__products-buy d-block d-lg-none">
              <button class="btn btn-cyan w-100" type="button" name="button">Купить комплект</button>
            </div>

          </div>
          <!-- /collection-set__products -->

        </div>
      </div>



    </div>
    <!-- /.collection-set -->
  </div>
  <!-- /container -->
</section>
<!-- /#collection-set -->

