<footer class="footer bg-light">

   <section class="footer__subscribe bg-primary py-4 subscribe text-light">
     <div class="container">
       <div class="row d-md-flex align-items-center">
         <div class="col-md-6 col-lg-7">
           <h3 class="font-weight-normal mb-4 m-md-0 subscribe__title">Будь в курсе последних скидок, предложений и распродаж</h3>
         </div>
         <div class="col-md-6 col-lg-5">
           <div class="input-group d-flex d-md-none">
              <input type="text" class="form-control" placeholder="Введите ваш e-mail" aria-label="Введите ваш e-mail" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-warning text-light" type="button" id="button-addon2"><span class="d-none d-sm-block">Подписаться</span><span class="d-block d-sm-none"><i class="mo-send"></i></span></button>
              </div>
            </div>
            <div class="d-none d-md-flex">
              <input type="text" class="form-control mr-2" style="flex-grow:1;" placeholder="Введите ваш e-mail" aria-label="Введите ваш e-mail" aria-describedby="button-addon2">
              <button class="btn btn-warning text-light" type="button" id="button-addon2"><span class="d-none d-sm-block">Подписаться</span><span class="d-block d-sm-none"><i class="fas fa-paper-plane"></i></span></button>
            </div>
         </div>
       </div>
     </div>
   </section>
   <section class="footer__menu pt-5 pb-4 section d-none d-md-block">
     <div class="container">
       <div class="row">
         <div class="col-md-3">
           <h3 class="footer__title font-weight-bold text-secondary-3">Покупателям</h3>
           <ul class="navigate">
             <li><a href="#" class="text-secondary-3 footer__link">Заявка на подбор</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Промокоды и купоны</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Оставить отзвы</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Разместить объявление</a></li>
           </ul>
         </div>
         <div class="col-md-3">
           <h3 class="footer__title font-weight-bold text-secondary-3">Продавцам</h3>
           <ul class="navigate">
             <li class=""><a href="#" class="text-secondary-3 footer__link">Как продавать на mebel.org</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Статистика посещений</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Тарифы</a></li>
             <li><a href="#" class="text-secondary-3 footer__link">Вход для продавцов</a></li>
           </ul>
         </div>
         <div class="col-md-6">
           <h3 class="footer__title font-weight-bold text-secondary-3">Прочее</h3>
           <div class="row">
             <div class="col-md-6">
               <ul class="navigate">
                 <li><a href="#" class="text-secondary-3 footer__link">Контакты</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Блог</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Стать автором</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Нашли ошибку</a></li>
               </ul>
             </div>
             <div class="col-md-6">
               <ul class="navigate">
                 <li><a href="#" class="text-secondary-3 footer__link">Поиск по фото</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Магазины</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Помощь</a></li>
                 <li><a href="#" class="text-secondary-3 footer__link">Реферальная программа</a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>

   <section class="footer__menu_mob py-4 d-block d-md-none">
     <div class="container">
       <div class="accordion" id="footerMenu">
         <div class="">
           <div class="" id="buyerTab">
               <button class="btn btn-link shadow-none  px-0 py-2 col-12 text-left border-bottom d-flex justify-content-between text-secondary-3" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                 <h3 class="m-0">Покупателям</h3>
                 <span class="icon"><i class="mo-arrow-right"></i></span>
               </button>
             </h5>
           </div>

           <div id="collapseOne" class="collapse border-bottom" aria-labelledby="buyerTab" data-parent="#footerMenu">
             <ul class="navigate py-2">
               <li><a href="#" class="text-secondary-3">Заявка на подбор</a></li>
               <li><a href="#" class="text-secondary-3">Промокоды и купоны</a></li>
               <li><a href="#" class="text-secondary-3">Оставить отзвы</a></li>
               <li><a href="#" class="text-secondary-3">Разместить объявление</a></li>
             </ul>
           </div>
         </div>
         <div class="">
           <div class="" id="sellerTab">
             <button class="btn btn-link shadow-none collapsed px-0 py-2 col-12 text-left border-bottom d-flex justify-content-between text-secondary-3" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               <h3 class="m-0">Продавцам</h3>
               <span class="icon"><i class="mo-arrow-right"></i></span>
             </button>
           </div>
           <div id="collapseTwo" class="collapse border-bottom" aria-labelledby="sellerTab" data-parent="#footerMenu">
             <ul class="navigate py-2">
               <li><a href="#" class="text-secondary-3">Как продавать на mebel.org</a></li>
               <li><a href="#" class="text-secondary-3">Статистика посещений</a></li>
               <li><a href="#" class="text-secondary-3">Тарифы</a></li>
               <li><a href="#" class="text-secondary-3">Вход для продавцов</a></li>
             </ul>
           </div>
         </div>
         <div class="">
           <div class="" id="otherTab">
             <button class="btn btn-link shadow-none collapsed px-0 py-2 col-12 text-left border-bottom d-flex justify-content-between text-secondary-3" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               <h3 class="m-0">Прочее</h3>
               <span class="icon"><i class="mo-arrow-right"></i></span>
             </button>
           </div>
           <div id="collapseThree" class="collapse border-bottom" aria-labelledby="otherTab" data-parent="#footerMenu">
             <ul class="navigate py-2">
               <li><a href="#" class="text-secondary-3">Контакты</a></li>
               <li><a href="#" class="text-secondary-3">Блог</a></li>
               <li><a href="#" class="text-secondary-3">Стать автором</a></li>
               <li><a href="#" class="text-secondary-3">Нашли ошибку</a></li>
               <li><a href="#" class="text-secondary-3">Поиск по фото</a></li>
               <li><a href="#" class="text-secondary-3">Магазины</a></li>
               <li><a href="#" class="text-secondary-3">Помощь</a></li>
               <li><a href="#" class="text-secondary-3">Реферальная программа</a></li>
             </ul>
           </div>
         </div>
         <div class="">
           <p class="text-secondary-3 m-0 mt-3">Мебель.Орг -   мебельный маркетплейс. Место, где можно купить и продать мебель, освещение, аксессуары для дома. </p>
         </div>
       </div>
     </div>
   </section>

   <section class="d-block d-lg-none">
     <div class="container">
       <button class="geostation-modal__footer-btn btn btn-link py-4 px-2 mb-4 border-bottom d-flex text-cyan align-items-center" type="button" name="share" data-toggle="modal" data-target="#geostationModal">
         <div class="p-0 mr-2 btn-share text-primary rounded-circle bg-white text-center">
           <i class="mo-place"></i>
         </div>
         Санкт-Петербург
       </button>
     </div>
   </section>

  <section class="footer__bottom pb-4">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class=" col-7">
          <a class="btn text-center p-0 mr-md-0 mr-md-3 mr-2 mb-2 btn-share rounded-circle soc-link" name="share" target="_blank" href="https://vk.com/public157076711">
            <i class="footer-ico mo-vk text-white"></i>
          </a>
          <a class="btn text-center p-0 mr-md-0 mr-md-3 mr-2 mb-2 btn-share rounded-circle soc-link" name="share" target="_blank" href="https://www.facebook.com/MebelOrg/">
            <i class="footer-ico mo-fb text-white"></i>
          </a>
          <a class="btn text-center p-0 mr-md-0 mr-md-3 mr-2 mb-2 btn-share rounded-circle soc-link" name="share" target="_blank" href="https://ok.ru/mebelorg">
            <i class="footer-ico mo-ok text-white"></i>
          </a>
          <a class="btn text-center p-0 mr-md-0 mr-md-3 mr-2 mb-2 btn-share rounded-circle soc-link" name="share" target="_blank" href="https://www.instagram.com/mebelorg/">
            <i class="footer-ico mo-inst text-white"></i>
          </a>
          <a class="btn text-center p-0 mr-md-0 mr-md-3 mr-2 mb-2 btn-share rounded-circle soc-link" name="share" target="_blank" href="https://t.me/mebelorg">
            <i class="footer-ico mo-tg text-white"></i>
          </a>
        </div>
        <div class="col-5">
          <p class="text-right text-secondary-3 m-0">© 1993 - 2018  Mebel.Org</p>
        </div>
      </div>
    </div>
  </section>

</footer>


